/* * * * * FONTS AND COLORS * * * * */
/*
font-family: 'Rubik', sans-serif;
font-family: 'Raleway', sans-serif;
color: #3e2f4f
background-color: #d5d1c6
*/

/********** SHARED STYLES **********/


body {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    color: #3e2f4f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/********** HEADER **********/

.mobile-header {
    display: none;
}

header {
    width: 100%;
    height: 64px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    justify-content: center;
}

header .logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 32px;
}

header .logo img {
    height: 48px;
}

header .logo h4 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}

header .logo h4 .logo-title {
    font-weight: bold;
}

nav {
    padding-right: 24px;
    text-align: right;
    flex-grow: 1;
}

.menu-item {
    display: inline-block;
    padding-right: 16px;
}

.menu-item a {
    text-decoration: none;
    color: #3e2f4f;
    padding: .2em;
    border-radius: 4px;
}

.menu-item a:hover {
    background-color: #3e2f4f;
    color: #fff;
    transition: background-color .4s ease-in-out .1s,
                color .5s linear .2s;
}

.menu-item a:active {
    background-color: #fff;
    color: red;
    border: .5px solid red;
    transition: background-color .4s ease-in-out .1s,
                color .5s linear .2s,
                border .4s ease-in-out .1s;
}

/********** MAIN CONTENT **********/

#main-content {
    position: relative;
    top: 64px;
}

/********* BANNER **********/

.banner {
    background-color: #d5d1c6;
    padding: 32px 24px;
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
}

.img-container,
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-height: 600px; */
}

.img-container {
    flex-basis: 58%;
}
.img-container img {
    width: 100%;
}

.content-container {
    width: 30%;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
}

.content-container h1 {
    font-size: 40px;
    font-weight: bold;
}

.content-container h3 {
    padding: 32px 0;
    font-size: 24px;
}

.start-btn {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
}

.start-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: .4px solid #000;
    font-size: 18px;
    font-stretch: expanded;
    transition: background-color .2s ease-out .1s,
                color .2s linear .1s,
                font-size .2s ease-in-out .4s,
                font-stretch .2s ease-in-out .4s;
}

.start-btn:active {
    width: 90%;
    font-weight: bold;
    transition: width 1.2s linear .2s,
                font-weight .1s linear 1.2s;
}

/********** DESKTOP PRACTICE **********/

.practice {
    background-color: #fff;
    padding: 32px 24px;
}

.practice-col-lg,
.practice-col-md {
    flex-direction: column;
    
}

/* * * PRACTICE-COL-LG * * */

.practice-col-lg {
    flex-basis: 58%;
    height: auto;
}

.practice-col-lg img {
    width: 100%;
}

.practice-col-lg .practice-content {
    padding: 32px 0; 
}

.practice-col-lg .practice-content p {
    padding-top: 24px;
}


/* * * PRACTICE-COL-MD * * */

.practice-col-md {
    flex-basis: 38%;
    padding-left: 24px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.practice-col-md-row {
    width: 100%;
    height: 33%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.practice-col-md-row:last-child {
    background-color: #d5d1c6;
}


.practice-col-md-img-container {
    width: 35%;
    height: auto;
    margin: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.practice-col-md-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.orientation .practice-col-md-img {
    background-image: url('../images/information-orientation.jpg');
}

.campus .practice-col-md-img {
    background-image: url('../images/information-campus.jpg');
}

.lecture .practice-col-md-img {
    background-image: url('../images/information-guest-lecture.jpg');
}

.practice-col-md-content {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.practice-col-md-content p {
    padding: 8px 0;
}

.read-more-link:hover {
    color: red;
}

/********** START-LEARNING **********/

.start-learning {
    background-color: #d5d1c6;
    padding: 0 72px 32px 72px;
    align-content: center;
    justify-content: center;
}

.start-learning h2 {
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.start-learning-col {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 30%;
    height: auto;
    margin: 0 0 32px 32px;
}

.start-learning-col-img {
    width: 100%;
    height: 125px;
    background-repeat: no-repeat;
    background-size: cover; 
}

#software-engineer-img {
    background-image: url('../images/course-software.jpg');
}

#computer-art-img {
    background-image: url('../images/course-computer-art.jpg');
}

#design-img {
    background-image: url('../images/course-design.jpg');
}

#data-img {
    background-image: url('../images/course-data.jpg');
}

#business-img {
    background-image: url('../images/course-business.jpg');
}

#marketing-img {
    background-image: url('../images/course-marketing.jpg');
}

.start-learning-col-content {
    padding: 16px 16px 24px 16px; 
    text-align: center;
}

.start-learning-col-content h3 {
    font-weight: bold;
}

.start-learning-col-content .courses {
    text-transform: uppercase;
    padding: 8px 0;
}

/********** THESIS **********/

.thesis {
    border-bottom: .75px solid #d5d1c6;
}

.thesis-col-lg,
.thesis-col-md {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* * * THESIS-COL-LG * * */

.thesis-col-lg {
    flex-basis: 58%;
}

.thesis-video-container {
    margin: 0 24px 24px 24px;
    
}

.thesis-video-container video {
    max-width: 100%;
    height: 400px;
}

.thesis .thesis-title {
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.thesis-content {
    padding-left: 24px;
}

.thesis-content p {
    padding-top: 8px;
    padding-bottom: 32px;
}

/* * * THESIS-COL-MD * * */


.thesis-col-md {
    flex-basis: 38%;
    padding-left: 24px;
    padding-top: 1em;
    padding-bottom: 12%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thesis-row:first-child {
    background-color: #d5d1c6;
}

.thesis-row {
    width: 100%;
    height: 25%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.thesis-row-img-container {
    width: 35%;
    height: auto;
    margin: 16px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.thesis-row-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#prototype-img {
    background-image: url('../images/thesis-fisma.jpg');
}

#research-img {
    background-image: url('../images/thesis-now-and-then.jpg');
}

.thesis-row-content {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.thesis-row-content p {
    padding: 8px 0;
}

/********** FOOTER **********/

footer {
    padding-bottom: 50px;
}

footer span {
    padding: 16px 0 0 24px;
}

footer ul {
    padding-right: 24px;
    margin-top: 16px;
    text-align: right;
    flex-grow: 1;
}

footer li {
    display: inline-block;
    padding-right: 10px;
}

footer li a {
    text-decoration: none;
}

footer li a:hover {
    color: red;
}

/********** MEDIA QUERIES **********/

/* * * * * 760px * * * * */

@media only screen and (max-width: 760px) {

    /***** MOBILE SHARED STYLES *****/

    body {
        display: block;
    }

    .flex-container {
        display: block;
    }

    /***** MOBILE NAV *****/

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }

    .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav span {
        display: inline-block;
        padding-left: 28px;
        padding-right: 28px;
    }

    /***** MOBILE BANNER *****/

    .banner {
        display: block;
        padding: 0;
    }
    
    .img-container,
    .content-container {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;      
    }

    .content-container {
        margin: 0;
        text-align: center;
    }

    .content-container h1 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .content-container h3 {
        padding-bottom: 24px; 
        padding-top: 0;
    }

    .start-btn {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 32px;
    }

    /***** MOBILE PRACTICE *****/

    .desktop-practice-div {
        display: none;
    }

    .mobile-practice-div {
        display: block;
        width: 100%;
        margin: 16px;
        background-color: #fff;
    }

    .mobile-practice-row {
        background-color: #fff;
        margin-bottom: 64px;
    }

    .mobile-practice-row img {
        width: 100%;
    }

    .mobile-practice-row h2 {
        padding-left: 16px;
        margin-top: 16px;
    }

    .mobile-practice-row p {
        padding: 16px 0 16px 16px;
    }

    .mobile-practice-row a {
        text-decoration: none;
        padding-left: 16px;
    }

}


/* * * * * 450px * * * * */


